@font-face {
    font-family: "PaytoneOne-Regular";
    font-display: swap;
    src: url("../../static/fonts/PaytoneOne/PaytoneOne-Regular.ttf");
  }

  @font-face {
    font-family: "Roboto-Medium";
    font-display: swap;
    src: url("../../static/fonts/Roboto/Roboto-Medium.ttf");
  }