@font-face {
    font-family: "PaytoneOne-Regular";
    font-display: swap;
    src: url("../../static/fonts/PaytoneOne/PaytoneOne-Regular.ttf");
  }

  @font-face {
    font-family: "Quicksand-Regular";
    font-display: swap;
    src: url("../../static/fonts/Quicksand/Quicksand-Regular.ttf");
  }